<h1>Bienvenue sur Disney+</h1>

<button (click)="toggleAdmin()" type="button">Admin / User</button>

<p>Vos informations:</p>

<section *ngIf="user.isAdmin">
  <p>{{ user.firstname}} {{user.lastname}} est premium</p>
  <p>Nb de séries vues : {{ user.views }} !</p>
  <ul>
    <li *ngFor="let serie of series">
      {{serie}}
    </li>
  </ul>
</section>

<section *ngIf="!user.isAdmin">
  <p>
    Vous ne pouvez regarder que 20 épisodes.
  </p>
  <p>Veuillez vous abonner pour un visionnage illimité !</p>
</section>
