img {
  width: 200px;
  height: auto;
}

.card-container{
  box-shadow: lightgray 4px 4px 20px;
  width: 300px;
  height: 450px ;
  padding: 20px;
}

.card-age{
  font-style: italic;
}

p{
  height: 50px;
}
